body,
html {
  margin: 0;
  color: #ffffff;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}
html {
  font-size: 25px;
  color: #ffffff;
  height: 100%;
}
.title {
  position: absolute;
  top: 10vh;
  left: 29%;
}
.top-left {
  position: absolute;
  top: 25vh;
  left: 16px;
}
.column {
  float: left;
  width: 50%;
  padding: 1vw;
  margin-top: 40vh;
  font-size: 1rem;
  margin-left: 2vw;
}

.top-left img {
  width: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 16px;
  padding-bottom: 10px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a {
  color: #ffffff;
  transition: 0.5s;
  text-decoration: none;
  vertical-align: middle;
}

a:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

nav {
  position: fixed;
  padding-top: 6vh;
  right: 0;
  left: 0;
  width: 100%;
  display: table;
  transform: translateY(-50%);
  z-index: 10000;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  
}

nav a:before,
nav a:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

#indicator {
  position: absolute;
  left: 4vw;
  bottom: 0;
  width: 30px;
  height: 3px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 117, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 117, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 117, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0075ff",GradientType=1);
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}
nav a:nth-child(1):hover ~ #indicator {
  left: 16%;
}

nav a:nth-child(2):hover ~ #indicator {
  left: 50%;
}

nav a:nth-child(3):hover ~ #indicator {
  left: 85%;
}
